<!-- /views/foodviwes/type.ejs -->
<%- include('../partials/header') %>
<div class="container mt-5">
  <h2><%= title %></h1>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% if (types.length > 0) { %> <% types.forEach(function(type) { %>
        <tr>
          <td><%= type.type_id %></td>
          <td><%= type.name %></td>
          <td>
            <a href="<%= type.type_id %>" class="btn btn-sm btn-success">Edit</a>
            <a href="<%= type.type_id %>" onclick="return confirm('delete this list?');"class="btn btn-sm btn-danger">Delete</a>
          </td>
        </tr>
        <% }); %> <% } else { %>
        <tr>
          <td colspan="3">ไม่พบข้อมูลประเภทอาหาร</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
<%- include('../partials/footer') %>
