<!-- /views/foodviwes/type.ejs -->
<%- include('../partials/header') %>
<div class="container mt-5">
  <h2><%= title %></h1>
  <br>
  <div class="input-group mb-3" style="max-width: 400px;">
    <a href="/type/add" class="btn btn-primary">add Type</a>
    <input type="text" id="type-search-input" class="form-control" placeholder="ค้นหาประเภทอาหาร..." aria-label="ค้นหาประเภทอาหาร" aria-describedby="button-addon2">
  </div>
  <div class="category-table-responsive">
    <table class="category-table" id="type-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% if (types.length > 0) { %> <% types.forEach(function(type) { %>
        <tr>
          <td><%= type.type_id %></td>
          <td><%= type.name %></td>
          <td>
            <a href="/type/edit/<%= type.type_id %>" class="btn btn-sm btn-success">Edit</a>
          </td>
        </tr>
        <% }); %> <% } else { %>
        <tr>
          <td colspan="3">ไม่พบข้อมูลประเภทอาหาร</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
<%- include('../partials/footer') %>